<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
</head>
<body >

   {{>navbar}}

    <!----start of header section-->
    <div class="containter-fluid main_menu">
        <div class="'col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md6 col-12 main_header_left">
                    <p> ...ERROR...</p>
                    <h1>Opps..!!<span class="text_clr"> 404 Error </span> . </h1>
                    <a href="/"><button>Homepage</button></a>

                </div>
                <div class="col-md3 col-10 main_header_right align-items-centre">
                    <figure>
                        <img src = 'images/error.png' alt="'sara" class="img-fluid" title="sara">
                    </figure>
                    
                    
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>