<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
</head>
<body >

    {{>navbar}}

    <!----start of header section-->
    <div class="containter-fluid main_menu">
        <div class="'col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md6 col-12 main_header_left">
                    <p> Welcome to Weather app</p>
                    <h1>Get The Latest<span class="text_clr"> Weather</span> Info </h1>
                   
                    <a href="/weather"><button>Check Now</button></a>

                </div>
                {{>coursel}}
                    
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>