<div class="containter-fluid main_menu">
        <div class="'col-md-10  mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="/"style="color: white; font-size:2.7rem; margin-left:1rem;" ><i class="fa-solid fa-snowflake fa-spin"></i> SaraWeather <i class="fa-solid fa-snowflake fa-spin"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/weather" style="color: white;">Weather</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about" style="color: white;">About </a>
                      </li>

                      
                    
                  </ul>
                  
                </div>
              </nav>
        </div>
    </div>